/*  
| 기능      | 핵심 예시                     |
| -------   | ------------------------- |
| 변수      | `$color-main`, `$spacing` |
| 중첩      | `.nav ul li a {}`         |
| 믹스인     | `@mixin`, `@include`      |
| 상속      | `%base-style`, `@extend`  |
| 조건 / 반복 | `@if`, `@for`, `@each`    |
| 분할관리    | `_mixin.scss`, `@import`  |
| 함수      | `@function pxToRem()`     |
| 데이터구조   | `$map`, `$list` 활용        |
*/
@forward 'core/_variables';
@forward 'core/_mixin';
@forward 'core/_functions';
@forward 'core/_reset';

@use 'core/functions' as *;

body {
    font-size:1.5rem;
    line-height:1.5;
    font-family:'Pretendard-Regular';
    letter-spacing:-0.025em;
    overflow-wrap:break-word;
    -webkit-text-size-adjust:none;
    background-color:var(--bg-root);
    color:var(--font1);

    &.lock {
		overflow: hidden;
	}
}

%visually-hidden {
	overflow: hidden !important;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	white-space: nowrap !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;
}

legend,
.hide {
    @extend %visually-hidden;
}

.intro-area {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    background-color:green;

}
.test {
    background-color:red;
    font-size:rem(50);
}