@use '../../common-ui' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	&__left {
		.logo {
			width:rem(100);
			height:rem(30);
			background:url('@ico/logo-text.png') no-repeat 50% / 100% auto;
		}
	}

	&__right {
		display: flex;
		gap: 15px;
		align-items: center;

		.my-page-btn {
			background: none;
			border: none;
			font-size:rem(16);
			color: #333;
			cursor: pointer;
		}

		.logout-btn {
			background: none;
			border: none;
			font-size:rem(16);
			color: #333;
			cursor: pointer;
		}
	}
}
