@use 'variables' as *;
@use "sass:list";

// Flex Center
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Absolute Center (부모 relative 필수)
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Size 지정
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

// 텍스트 한 줄 말줄임 처리
@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 버튼 스타일
@mixin button($bg, $color: #fff) {
	background-color: $bg;
	color: $color;
	padding: 1rem 2rem;
	border-radius: 0.6rem;
	border: none;
	cursor: pointer;
	font-weight: 500;
}

// 인풋 스타일

@mixin button-base {
	flex: 1;
	padding: 1.2rem;
	background: $color-primary;
	color: $bg-root;
	border: none;
	border-radius: 0.6rem;
	font-size: 1.6rem1;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		background: $color-secondary;
	}
}

// 텍스트 버튼
@mixin text-button {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	padding: 0.8rem;
	font-weight: normal;
	font-size: 1.4rem;;
	color: $font1;
		
	&:hover {
		background-color: transparent;
	}
}